body {
    background-color: #AFBFA3;
}

header {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 0 10px;
}

.nav-item {
    /* background-color: white; */
    width: 33.3333%;
    height: 100px;
    margin: 0 20px;

}

.nav-left > img {
    height: 100px;

}

.nav-middle {
    text-align: center;
}

.nav-middle > ul > div {
    display: inline-block;
    /* background-color: pink; */
    padding: 15px 25px;
}

.nav-middle > ul > div > li {
    list-style: none;
    /* background-color: red; */
    font-size: 18px;
    font-family: 'Fredoka';
    background-color: #FFF9E2;
    color: #AFBFA3;
    padding: 10px 20px;
    vertical-align: middle;
    border-radius: 30px;
}

.nav-right {
    text-align: right;
}

.nav-right > object {
    height: 40px;
    margin: 30px 20px;
    /* color: red; */
}

.container {
    text-align: center;
    margin: 40px 40%;
    color: #FFF9E2;
    font-family: 'Adamina';
}

.container > input {
    width: 200px;
    margin-top: 15px;
    height: 40px;
}

.btn {
    background-color: #FFF9E2;
    color: #AFBFA3;
    border: none;
    border-radius: 7px;
    font-size: 16px;
}