body {
    background-color: green;
}

header {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 0 10px;
}

.nav-item {
    background-color: white;
    width: 33.3333%;
    height: 100px;
    margin: 0 20px;
    line-height: 68px;
}

.nav-left > img {
    height: 100px;

}

.nav-middle {
    text-align: center;
}

.nav-middle > ul > div {
    display: inline-block;
    background-color: pink;
    padding: 0 25px;
}

.nav-middle > ul > div > li {
    list-style: none;
    background-color: red;
    font-size: 21px;
}

.nav-right {
    text-align: right;
}

.nav-right > object {
    height: 40px;
    margin: 30px 20px;
    color: red;
}